<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAq6UeR2YccQ8IOPx8r_l-rQig8yMtGBeo</string>
	<key>GCM_SENDER_ID</key>
	<string>198538398203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mealStock</string>
	<key>PROJECT_ID</key>
	<string>mealstock-6126d</string>
	<key>STORAGE_BUCKET</key>
	<string>mealstock-6126d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198538398203:ios:4193a51e9f729a553da35e</string>
</dict>
</plist>